html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    /*background-image: linear-gradient(to bottom, gray, snow);*/
    background-image: url("backgroundIMG.jpeg");/*Photo by Lisa Fotios from Pexels*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* The logo's developer container */
.row #txt-header{
    margin: 0px auto;
    margin-top: 20px; 
    font-size: 140%;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

/* The logo's company container */
#logomarca{
   margin: 0px auto;
}
#login-box{
    margin-top: 50px;
}
.box{
    margin: 0px auto;
    background-color: white !important;
    width: 350px;
    height: 450px;
    text-align: center;
}
.row #company{
    margin: -40px auto;
}
.row #company_name{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8.5px;
    font-weight: lighter;
    margin-top: 3px;
}

/* The box-login container */
#title{
    float: center;
    margin: 59px auto;
    font-size: 220%;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sub-title{
    float: center;
    margin: 0px auto;
    margin-top: -59px;
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
#email, #password{
    width: 275px;
    margin-top: 20px;
    margin-left: 50px;
}
#verify-icon, #verify-icon-pass {
    font-size: 150%;
}
.row .input-group input:focus:not([readonly]) {
    border-bottom: 1px solid #87BE56;
    -webkit-box-shadow: 0 1px 0 0 #87BE56;
}
.no-border{
    border: 0;
    border-bottom: 1px solid #000000;
    box-shadow: none;
}
.icon{
    border: 0;
    background-color: white;
}
.row .btn{
    margin: 0px auto;
    width: 275px;
    background-image: linear-gradient(to bottom, #87BE56, #99CA5C);
    color: white;
}
.row #forgot-password{
    margin: 0px auto;
    margin-top: 20px;
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #000000;
    text-decoration: underline;
}

/* The dollar container */
#dolar{
    margin: 0px auto;
    margin-top: 20px; 
    width: 350px;
    height: 90px;
    background-color: #000000a1;
    color: white;
}
#dolar-label{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 90%;
}
#dolar-value{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 170%;
    font-weight: bold;
}
#dolar-icon{
    margin: 0px auto;
    padding: 30px;
    margin-left: 40px;
}
#dolar .row .col-sm #dolar-icon .fa{
    color: #FF6347;
    font-size: 200%;
}